/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a,
button,
[role="button"],
[tabindex] {
    text-decoration: none !important;
    outline: none !important;
    color: inherit !important;
}

a:hover,
button:hover,
[role="button"]:hover,
[tabindex]:hover {
    text-decoration: none !important;
    outline: none !important;
    color: inherit !important;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 4em;
    position: relative; /* Ensure child elements are positioned relative to the header */
    z-index: 1;
}

.branding {
    text-align: left;
    position: relative; /* Ensure photo is positioned relative to this container */
}

.branding h1 {
    margin: 0;
    font-size: 3em;
    position: relative; /* Position relative for z-index to work */
}

.branding .catchphrase {
    font-size: 1em;
    margin-top: -0.5em;
    margin-left: 0.5em;
    color: #959595;
}

.contact {
    text-align: right;
}

.contact a {
    color: #7d7d7d;
    font-size: 1.5em;
    margin-left: 15px;
}

.contact a:hover {
    color: #ffffff;
}

/* Updated floating-photo class with animation */
.floating-photo {
    position: absolute;
    top: 50%; /* Adjust position to your preference */
    left: 10%; /* Adjust position to your preference */
    transform: translate(-50%, -50%) rotate(-25deg); /* Center and tilt */
    opacity: 0.01; /* Initial opacity for the start of the animation */
    z-index: -1; /* Ensure photo is below the text */
    overflow: hidden;
    pointer-events: none; /* Ensure photo does not interfere with other elements */
    max-width: 100px; /* Adjust size as needed */
    max-height: 100px; /* Adjust size as needed */
    animation: opacityAnimation 8s ease-in-out infinite; /* Apply animation */
}

/* Define the keyframes for the opacity animation */
@keyframes opacityAnimation {
    0% {
        opacity: 0.01; /* Start opacity */
    }
    25% {
        opacity: 0.07; /* Start opacity */
    }
    50% {
        opacity: 0.03; /* Midpoint opacity */
    }
    75% {
        opacity: 0.1; /* Start opacity */
    }
    100% {
        opacity: 0.01; /* End opacity */
    }
}

/* Summary Styles */
.summary {
    padding: 0.5em 3em;
    z-index: 1;
    position: relative;
}

/* Main Content Styling */
.main-content {
    display: flex;
    padding: 1em 2em;
    z-index: 1;
    position: relative;
}

/* Main Container Styling */
.main-container {
    flex: 1; /* Takes up remaining space */
    margin-left: 25%; /* Leave 25% space from the left side */
    display: flex;
    flex-direction: column;
}

/* Project Catalog Styles */
.project-catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
}

/* Project Item Styles */
.project-item {
    background: #1f1d1d;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.85); /* Light grey with transparency */
    color: rgba(100, 100, 100, 0.75); /* Dark grey with transparency */
    text-align: left;
    padding: 5px 50px;
    font-size: 0.7em;
    border-top: 0.5px solid rgba(200, 200, 200, 0.6); /* Light grey border with transparency */
}

/* Keyframes for background animation */
@keyframes backgroundAnimation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}
